:root {
  /* sizes */
  --size-10: 0.625rem;
  --size-20: 1.25rem;
  --size-40: 2.5rem;
  --num-of-tiles: 36;
  --tile-setup-dur: 0.3;
  --tile-setup-del: 0.06;
}

@font-face {
  font-family: playRegular;
  src: url("../assets/fonts/Play-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: playRegular, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  background: linear-gradient(#000428, #004e92);
  background-repeat: no-repeat;
  height: 100vh;
}

body,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

input,
.btn {
  border: transparent;
  outline: none;
  border: none;
  outline: none;
  appearance: none;
}

.btn {
  background: transparent;
  user-select: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:disabled::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal,
.message-box,
.options-menu {
  z-index: 20;
}

.modal {
  --transition-dur: 0.3s;
  --opacity: 0;
  --visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: var(--opacity);
  visibility: var(--visibility);
  transition: opacity var(--transition-dur) ease-in-out,
    visibility var(--transition-dur) ease-in-out;
}

.modal.active {
  --opacity: 1;
  --visibility: visible;
}

.modal::before {
  --overlay-opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--overlay-opacity));
}

.modal > * {
  z-index: 10;
}

/* LOADER */

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-screen .loading-text {
  color: #fff;
  display: flex;
  gap: var(--size-20);
}

.loading-screen .loading-text span {
  position: relative;
  animation: bouncingEllipses 2s ease-in-out infinite calc(var(--anim-delay));
}

.loading-body {
  font-size: 30px;
  width: 3em;
  height: 3em;
  position: relative;
}

.loading-body::before,
.loading-body::after {
  content: "";
}

.loading-body::before {
  --anim-delay: 1s;
}
.loading-body::after {
  --anim-delay: 2s;
}

.loading-body .loading-ring {
  --anim-delay: 3s;
}

.loading-body::after,
.loading-body::before,
.loading-body .loading-ring {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 2px solid#fff;
  border-radius: 50%;
  animation: loadingAnim 3s linear var(--anim-delay) infinite;
}

.options-menu {
  position: fixed;
  top: 30%;
  left: 100%;
  transform: translate(0, -50%);
  transition: transform 0.3s ease-in-out;
}

.options-menu.open {
  transform: translate(-100%, -50%);
}

.options-menu.open [data-open] i {
  transform: rotate(180deg);
}

.options-menu,
.options-menu [data-open] {
  color: #fff;
  background-color: #000;
  border-radius: var(--size-10) 0 0 var(--size-10);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
}

.options-menu [data-open] {
  position: absolute;
  left: 0;
}

.options-menu [data-open] {
  transform: translate(-100%, -50%);
  top: 50%;
  font-size: 2rem;
}

.options-menu [data-open] i {
  transition: transform 0.3s ease-in-out;
}

.options-menu [data-open],
.options-menu li {
  cursor: pointer;
  padding: var(--size-10);
}

.options-menu li {
  width: 100%;
  text-wrap: nowrap;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: var(--size-10) 0 0 var(--size-10);
}

.options-menu li:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

/* ANIMATIONS */

@keyframes loadingAnim {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes bouncingEllipses {
  0%,
  70%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(calc(var(--size-20) * -1));
  }
}

@keyframes scaleOpen {
  0% {
    transform: scale(0, 0.007);
  }
  20%,
  40% {
    transform: scale(1, 0.01);
  }
  50%,
  100% {
    transform: scale(1, 1);
  }
}

@keyframes scaleClose {
  0% {
    transform: scale(1, 1);
  }
  20%,
  40% {
    transform: scale(1, 0.007);
  }
  50%,
  100% {
    transform: scale(0, 0);
  }
}

@keyframes hoveringTile {
  0%,
  100% {
    transform: translateY(0);
    box-shadow: 1px 12px 8px 0px rgba(0, 0, 0, 0.8),
      0px 0px 12px 1px rgb(0, 128, 124) inset;
  }
  50% {
    transform: translateY(-8px);
    box-shadow: 1px 22px 8px 0px rgba(0, 0, 0, 0.6),
      0px 0px 12px 1px rgb(0, 128, 124) inset;
  }
}

@keyframes glideDown {
  0% {
    transform: translate(-150px, -30px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes scaleUpFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(2);
  }
  51% {
    transform: scale(1);
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
